* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 2000px;
  background-color: #D4D8F5;
}
.container nav {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px 1px black;
  background-color: #DEDFEB;
}
.container nav .nav__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 20px;
  background-color: #DEDFEB;
}
.container nav .nav__main .nav__1 {
  display: flex;
  justify-content: space-evenly;
}
.container nav .nav__main .nav__1 .brand__text {
  margin: 20px 20px;
  word-spacing: 5px;
  font-size: 20px;
}
.container nav .nav__main .nav__1 .brand__text .brand__blue {
  color: #165DF5;
  font-weight: bold;
}
.container nav .nav__main .nav__2 .item__list {
  display: flex;
  justify-content: space-between;
  color: #424347;
}
.container nav .nav__main .nav__2 .item__list .list {
  list-style-type: none;
  padding: 20px 20px;
  font-family: Poppins;
  font-size: 20px;
}
.container nav .nav__main .nav__3 {
  display: flex;
  justify-content: space-around;
}
.container nav .nav__main .nav__3 .EN {
  margin: 10px 10px;
  font-family: Poppins;
}
.container nav .nav__main .nav__3 .btn {
  background-color: #165DF5;
  border-radius: 50px;
  border-color: #165DF5;
  cursor: pointer;
  padding: 10px px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #DEDFEB;
  position: relative;
  width: 105px;
  height: 46px;
  left: 10;
  align-items: center;
}
.container .section__1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #D4D8F5;
  text-align: center;
  text-transform: capitalize;
}
.container .section__1 .section__title {
  margin: 50px 20px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}
.container .section__1 .section__title .blue__title {
  text-transform: capitalize;
  color: #165DF5;
}
.container .section__1 .section1__text {
  margin: 20px 20px;
  font-size: 20px;
  color: #585960;
  line-height: 30px;
}
.container .section__1 .btn1 {
  background-color: #165DF5;
  border-color: #165DF5;
  color: #fff;
  border-radius: 5px;
  width: 180px;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container .blue__content {
  background-color: #D4D8F5;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .blue__content .blue__img {
  background: url(../images/main.jpg);
  width: 1200px;
  height: 530px;
}
.container .blue__content .blue__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  margin: 150px 50px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.container .blue__content .blue__text .blue__site {
  font-size: 50px;
  line-height: 60px;
}
.container .blue__content .blue__text .blue__olan {
  width: 60%;
  color: #585960;
  line-height: 30px;
  margin: 20px 20px;
}
.container .cofe {
  background-color: #FFFFFF;
  width: 100%;
  height: 600px;
}
.container .cofe .tree__cofe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .cofe .tree__cofe .blue__parag {
  color: #000000;
  margin: 50px 10px;
  font-size: 20px;
  font-weight: 600;
}
.container .cofe .tree__cofe .blue__parag .parag__blue {
  color: #165DF5;
}
.container .cofe .tree__cofe .dubai {
  font-size: 25px;
  margin: 10px 10px;
}
.container .cofe .tree__cofe .vegas {
  width: 30%;
  text-align: center;
  align-items: center;
  line-height: 30px;
  color: #585960;
}
.container .cofe .tree__cofe .card1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px 30px;
}
.container .cofe .tree__cofe .blue__cards {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
}
.container .cofe .tree__cofe .blue__cards .blue__cards h2,
.container .cofe .tree__cofe .blue__cards p {
  margin: 10px 10px;
  line-height: 30px;
}
.container .Hemen {
  background-color: #E8EFFE;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .Hemen .join {
  margin: 50px 50px;
  text-align: center;
  align-items: center;
  line-height: 40px;
}
.container .Hemen .join .veya {
  font-size: 50px;
  line-height: 60px;
}
.container .Hemen .join .grey {
  text-align: center;
  font-size: 20px;
  color: #585960;
}
.container .Hemen .join .btn2 {
  background-color: #165DF5;
  border-color: #165DF5;
  color: #fff;
  border-radius: 5px;
  width: 250px;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.container .city {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 30px;
  background-color: #D4D8F5;
}
.container .city .neler {
  margin: 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
.container .city .neler span {
  color: #165DF5;
}
.container .home {
  font-size: 40px;
}
.container .avst {
  color: #585960;
  line-height: 30px;
}

.book {
  background-color: #fff;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
}
.book .book__img {
  width: 550px;
}
.book .ok {
  position: relative;
  left: 430px;
  top: -270px;
}

.pas .beraber {
  color: #000000;
  font-size: 30px;
  line-height: 45px;
}
.pas .loop {
  font-size: 20px;
  color: #585960;
  line-height: 30px;
}

.main__past {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.our {
  background-color: #fff;
  width: 100%;
  height: 900px;
}
.our .our__time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 50px;
}
.our .our__time .bed {
  font-size: 20px;
  color: #000000;
  font-weight: 600;
}
.our .our__time .bed .hale {
  color: #165DF5;
}
.our .our__time .yazar {
  font-size: 40px;
  font-weight: 600;
}
.our .our__time .uzman {
  font-size: 20px;
  word-spacing: 10px;
  color: #585960;
}
.our .key__btn {
  display: flex;
  justify-content: space-around;
}
.our .key__btn .btn,
.our .key__btn .btn1 {
  margin: 20px 20px;
  background-color: #165DF5;
  border-color: #165DF5;
  color: #fff;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.our .key__btn .btn .btn1,
.our .key__btn .btn1 .btn1 {
  background-color: #D1DEF9;
  border-color: #D1DEF9;
}

.card__container {
  display: flex;
  justify-content: space-evenly;
}
.card__container .flex__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card__container .flex__card .login__card {
  margin: 5px 10px;
  line-height: 30px;
}
.card__container .flex__card .login__card .href {
  text-decoration: none;
  color: #165DF5;
}
.card__container .flex__card .pic {
  width: 350px;
}

.Jane {
  background-color: #fff;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Jane .laska {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column;
  text-align: center;
}
.Jane .laska .bildiren {
  font-size: 50px;
  font-weight: 600;
}
.Jane .teror {
  font-size: 20px;
  line-height: 45px;
  color: #585960;
}
.Jane .teror .coop {
  color: #000000;
}
.Jane .teror .stars {
  background-color: #fff;
  width: 1997px;
  height: 100px;
}

.after__footer {
  background-color: #165DF5;
  height: 150px;
  width: 100%;
  position: relative;
  top: 30px;
}
.after__footer .love__time {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 20px;
}
.after__footer .love__time .item__mark {
  display: flex;
  justify-content: space-around;
}
.after__footer .love__time .item__mark .mark {
  list-style-type: none;
  padding: 40px 20px;
}
.after__footer .love__time .can {
  padding: 40px 20px;
}

@media (max-width: 700px) {
  .container {
    width: 700px;
    background-color: #fff;
  }
  .container nav {
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px 1px black;
    background-color: #DEDFEB;
  }
  .container nav .nav__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px;
    background-color: #DEDFEB;
  }
  .container nav .nav__main .nav__1 {
    display: flex;
    justify-content: space-evenly;
  }
  .container nav .nav__main .nav__1 .brand__text {
    margin: 20px 20px;
    word-spacing: 5px;
    font-size: 10px;
  }
  .container nav .nav__main .nav__1 .brand__text .brand__blue {
    color: #165DF5;
    font-weight: bold;
  }
  .container nav .nav__main .nav__2 .item__list {
    display: none;
    justify-content: space-between;
    color: #424347;
  }
  .container nav .nav__main .nav__2 .item__list .list {
    list-style-type: none;
    padding: 20px 20px;
    font-family: Poppins;
    font-size: 20px;
  }
  .container nav .nav__main .nav__3 {
    display: flex;
    justify-content: space-around;
  }
  .container nav .nav__main .nav__3 .EN {
    margin: 10px 10px;
    font-family: Poppins;
    display: none;
  }
  .container nav .nav__main .nav__3 .btn {
    background-color: #165DF5;
    border-radius: 50px;
    border-color: #165DF5;
    cursor: pointer;
    padding: 10px px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: #DEDFEB;
    position: relative;
    width: 30px;
    height: 30px;
    left: 10;
    align-items: center;
    display: none;
  }
  .container .section__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #D4D8F5;
    text-align: center;
    text-transform: capitalize;
  }
  .container .section__1 .section__title {
    margin: 50px 20px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
  }
  .container .section__1 .section__title .blue__title {
    text-transform: capitalize;
    color: #165DF5;
  }
  .container .section__1 .section1__text {
    margin: 20px 20px;
    font-size: 10px;
    color: #585960;
    line-height: 30px;
  }
  .container .section__1 .btn1 {
    background-color: #165DF5;
    border-color: #165DF5;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    font-size: 10px;
    cursor: pointer;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .container .blue__content {
    background-color: #D4D8F5;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .blue__content .blue__img {
    background: url(../images/main.jpg);
    width: 550px;
    height: 500px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container .blue__content .blue__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
    margin: 150px 50px;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
  }
  .container .blue__content .blue__text .blue__site {
    font-size: 10px;
    line-height: 60px;
  }
  .container .blue__content .blue__text .blue__olan {
    width: 60%;
    color: #585960;
    line-height: 20px;
    margin: 20px 20px;
  }
  .container .cofe {
    background-color: #FFFFFF;
    width: 100%;
    height: 600px;
  }
  .container .cofe .tree__cofe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container .cofe .tree__cofe .blue__parag {
    color: #000000;
    margin: 50px 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .container .cofe .tree__cofe .blue__parag .parag__blue {
    color: #165DF5;
  }
  .container .cofe .tree__cofe .dubai {
    font-size: 14px;
    margin: 10px 10px;
  }
  .container .cofe .tree__cofe .vegas {
    width: 60%;
    text-align: center;
    align-items: center;
    line-height: 30px;
    color: #585960;
  }
  .container .cofe .tree__cofe .card1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px 10px;
  }
  .container .cofe .tree__cofe .blue__cards {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
  }
  .container .cofe .tree__cofe .blue__cards .blue__cards h2,
.container .cofe .tree__cofe .blue__cards p {
    margin: 10px 10px;
    line-height: 20px;
  }
  .container .Hemen {
    background-color: #E8EFFE;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .Hemen .join {
    margin: 20px 20px;
    text-align: center;
    align-items: center;
    line-height: 30px;
  }
  .container .Hemen .join .veya {
    font-size: 20px;
    line-height: 35px;
  }
  .container .Hemen .join .grey {
    text-align: center;
    font-size: 14px;
    color: #585960;
  }
  .container .Hemen .join .btn2 {
    background-color: #165DF5;
    border-color: #165DF5;
    color: #fff;
    border-radius: 5px;
    width: 140px;
    font-size: 14px;
    cursor: pointer;
    height: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .container .city {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
    background-color: #D4D8F5;
  }
  .container .city .neler {
    margin: 10px 10px;
    font-size: 10px;
    font-weight: 200;
  }
  .container .city .neler span {
    color: #165DF5;
  }
  .container .home {
    font-size: 20px;
  }
  .container .avst {
    color: #585960;
    line-height: 20px;
  }
  .book {
    background-color: #fff;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
  }
  .book .book__img {
    width: 300px;
  }
  .book .ok {
    position: relative;
    left: 430px;
    top: -270px;
    width: 6px;
    display: none;
  }
  .pas .beraber {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
  }
  .pas .loop {
    font-size: 14px;
    color: #585960;
    line-height: 20px;
  }
  .main__past {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .our {
    background-color: #fff;
    width: 100%;
    height: 200px;
  }
  .our .our__time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
  }
  .our .our__time .bed {
    font-size: 14px;
    color: #000000;
    font-weight: 600;
    margin: 20px 10px;
  }
  .our .our__time .bed .hale {
    color: #165DF5;
  }
  .our .our__time .yazar {
    font-size: 16px;
    font-weight: 300;
  }
  .our .our__time .uzman {
    font-size: 14px;
    word-spacing: 10px;
    color: #585960;
  }
  .our .key__btn {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .our .key__btn .btn,
.our .key__btn .btn1 {
    margin: 10px 10px;
    background-color: #165DF5;
    border-color: #165DF5;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 120px;
  }
  .our .key__btn .btn .btn1,
.our .key__btn .btn1 .btn1 {
    background-color: #D1DEF9;
    border-color: #D1DEF9;
  }
  .card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .card__container .flex__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card__container .flex__card .login__card {
    margin: 5px 10px;
    line-height: 37px;
  }
  .card__container .flex__card .login__card .href {
    text-decoration: none;
    color: #165DF5;
  }
  .card__container .flex__card .pic {
    width: 350px;
  }
  .Jane {
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2650px 50px;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 600px;
  }
  .Jane .laska {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    text-align: center;
  }
  .Jane .laska .bildiren {
    font-size: 30px;
    font-weight: 300;
  }
  .Jane .teror {
    font-size: 16px;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60%;
    color: #585960;
  }
  .Jane .teror .coop {
    color: #000000;
  }
  .Jane .teror .stars {
    background-color: #fff;
    width: 100%;
    height: 10px;
  }
  .after__footer {
    background-color: #165DF5;
    height: 150px;
    width: 100%;
    position: relative;
    display: none;
  }
  .after__footer .love__time {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-size: 12px;
  }
  .after__footer .love__time .item__mark {
    display: flex;
    justify-content: space-around;
  }
  .after__footer .love__time .item__mark .mark {
    list-style-type: none;
    padding: 20px 10px;
  }
  .after__footer .love__time .can {
    padding: 20px 10px;
  }
}/*# sourceMappingURL=main.css.map */